body {
    font-family: 'Roboto', sans-serif;
}

.message {
    color: red
}

.card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .card-header {
    background-color: #1e2124;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .card-body {
    background-color: #2c3034;
  }
  
  .pagination .page-link {
    background-color: #212529;
    color: #fff;
    border-color: #444;
  }
  
  .pagination .page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .pagination .page-item.disabled .page-link {
    background-color: #1e2124;
    color: #6c757d;
  }