<div class="container mt-5 px-0 mx-auto" th:fragment="content">
    <div class="d-flex flex-column align-items-center">
        <!-- <h1 class="text-center mb-4"></h1> -->
        <!-- Início da grade -->
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
            <div class="col" th:each="photo : ${photos}">
                <div class="card border-0 h-100">
                    <!-- Link para a página da foto -->
                    <a th:href="@{/photos/{id}(id=${photo.id})}">
                        <img th:src="@{${photo.imageUrl}}" class="img-fluid img-thumbnail" th:alt="${photo.caption}">
                    </a>
                    <div class="card-body px-0">
                        <div class="d-flex justify-content-between align-items-center">
                            <!-- Nome do fotógrafo alinhado à esquerda -->
                            <a th:href="@{/photographers/{id}(id=${photo.photographer.id})}" 
                               th:text="${photo.photographer.name}" 
                               class="ms-2 text-decoration-none text-dark"></a>
                            
                            <!-- Likes e comentários alinhados à direita -->
                            <div class="d-flex align-items-center justify-content-between">
                                <a href="#" class="btn btn-md">
                                    <i class="fas fa-heart"><span th:text="${photo.likes.size()}" class="ms-2"></span></i>
                                </a>
                                <a href="#" class="btn btn-md ms-2">
                                    <i class="fas fa-comment"><span th:text="${photo.comments.size()}" class="ms-2"></span></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fim da grade -->
    </div>
</div>
