<div th:fragment="content" 
    class="border border-gray border-0 d-flex flex-column align-items-center justify-content-center m-auto w-50 h-60" style="border-radius: 100px;">
    
    <!-- <h1 class="fs-1  fw-bold">Welcome Back</h1>
    <h2 class="fs-6 mt-2" style="color: rgb(120,120,120);">Fill your credentials to continue</h2> -->

    <div class="w-100 flex-grow-1 d-flex align-items-center justify-content-center mt-5 py-5" 
        style="background-color: rgba(24, 24, 31, 1);">
        
        <div class="d-flex flex-column justify-content-center align-items-center w-100 h-100 py-5">
            <i class="fa fa-sign-in-alt fa-2x text-white-50"></i>
            <h2 class="fs-3 fw-bold my-3 text-white">Sign In</h2>
            <p class="fs-6 text-white-50 mb-4">Access your account</p>

            <form action="/login" method="post" class="w-50 needs-validation mt-4" novalidate>
                <div class="mb-3">
                    <input type="email" class="form-control text-left py-2"
                           id="email" name="email" placeholder="Email Address" required>
                    <div class="invalid-feedback">Please enter a valid email.</div>
                </div>
                
                <div class="mb-3">
                    <input type="password" class="form-control text-left py-2"
                           id="password" name="password" placeholder="Password" required>
                    <div class="invalid-feedback">Please enter your password.</div>
                </div>
                
                <button type="submit" class="text-decoration-none fw-bold w-100 mt-4"
                    style="background: linear-gradient(90deg, rgba(255, 69, 58, 1) 0%, rgba(216, 88, 216, 1) 100%);
                           color: white; 
                           padding: 12px 36px; 
                           border-radius: 8px; 
                           text-align: center;
                           transition: all 0.3s ease-in-out;
                           display: inline-block;
                           border: none;">
                    Sign in now
                </button>
            </form>

            <a href="/registration" class="mt-4 text-white-50 text-decoration-none">Don't have an account? <span class="fw-bold text-white">Sign up</span></a>
        </div>
    </div>
</div>
