<div th:fragment="content">
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <img th:if="${photo.imageUrl != null}" th:src="@{${photo.imageUrl}}" class="img-fluid" th:alt="${photo.caption}">
                <div class="d-flex justify-content-between align-items-center mt-3">
                    
                    <p><a
                        class="text-decoration-none text-white"
                        th:href="@{/photographers/{id}(id=${photo.photographer.id})}" 
                        th:text="${photo?.photographer?.name} + ': ' + ${photo.caption}"></a></p>                
                    <form th:action="@{/photos/{id}/like(id=${photo.id})}" method="post">
                        <button type="submit" class="btn btn-lg">
                            <i th:classappend="${liked != null && liked} ? 'fas fa-heart text-danger' : 'fas fa-heart text-secondary'">
                                <span th:text="${photo.likes.size()}" class="ms-2"></span>
                            </i>
                        </button>
                    </form>
                </div>


                <div class="mt-3">
                    <!-- Formulário para comentário -->
                    <form th:action="@{/photos/{id}/comment(id=${photo.id})}" method="post">
                        <div class="mb-3">
                            <textarea class="form-control" name="commentText" rows="3" maxlength="512" placeholder="Escreva seu comentário..." required></textarea>
                        </div>
                        <!-- Botões um abaixo do outro -->
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Comentar</button>
                        </div>
                    </form>

                    <!-- Botão Gerar PDF (somente para ADMIN) -->
                    <div sec:authorize="hasRole('ROLE_ADMIN')" class="mt-2">
                        <form th:action="@{/admin/photo/{photoId}/comments/pdf(photoId=${photo.id})}" method="get">
                            <button type="submit"
                                    class="btn w-100"
                                    th:classappend="${#lists.isEmpty(photo.comments)} ? 'btn-secondary' : 'btn-primary'"
                                    th:disabled="${#lists.isEmpty(photo.comments)}">
                                Gerar PDF
                            </button>
                        </form>
                    </div>
                </div>

                    <ul class="list-group w-100 mt-4">
                        <li class="list-group-item" th:each="comment : ${photo.comments}">
                            <strong th:text="${comment?.photographer?.name}"></strong> - 
                            <small class="text-muted" th:text="${#temporals.format(comment.createdAt, 'dd/MM/yyyy')} + ' às ' + ${#temporals.format(comment.createdAt, 'HH:mm')}"></small>
                            <br class="mb-1"><span th:text="${comment?.commentText}"></span>
                            <br class="mt-1">
                            <th:block th:if="${#authentication != null and #authentication.name == comment.photographer.email}">
                                <div class="d-flex align-items-center mt-3 flex-row">
                                    <button class="btn btn-sm btn-primary edit-comment-btn" th:attr="onclick='showEditForm(&quot;' + ${comment.id} + '&quot;)'">Editar</button>
                                    <form th:action="@{/photos/{photoId}/comment/{commentId}/edit(photoId=${photo.id}, commentId=${comment.id})}" method="post" class="mt-2 d-none" th:id="'edit-form-' + ${comment.id}">
                                        <textarea class="form-control" name="commentText" th:text="${comment.commentText}"></textarea>
                                        <button type="submit" class="btn btn-sm btn-success mt-2">Salvar</button>
                                        <button type="button" class="btn btn-sm btn-secondary mt-2" th:attr="onclick='hideEditForm(&quot;' + ${comment.id} + '&quot;)'">Cancelar</button>
                                    </form>
                                
                                    <form class="ml-2" style="margin-left: 20px;" th:action="@{/photos/{id}/comment/{idComment}(id=${photo.id}, idComment=${comment?.id})}" method="post">
                                        <input type="hidden" name="_method" value="delete"/>
                                        <button type="submit" class="btn btn-sm btn-danger">Excluir</button>
                                    </form>
                                </div>                                
                            </th:block>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function showEditForm(commentId) {
        let form = document.getElementById('edit-form-' + commentId);
        if (form) {
            form.classList.remove('d-none');
        }
    }

    function hideEditForm(commentId) {
        let form = document.getElementById('edit-form-' + commentId);
        if (form) {
            form.classList.add('d-none');
        }
    }
</script>